p-button.w-100 { 
  width: 100% !important; 
}

.contenedor {
  position: relative;
  font-size: 1.2em;
  color: #333;

}

.contenedor::before,
.contenedor::after {
  content: "";
  position: absolute;
  top: 30px;
  width: 20px;
  height: 60%;
}

.contenedor::before {
  left: -16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #10b981);
  border-radius: 50px 0px 0px 0px;
}

.contenedor::after {
  right: -16px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), #10b981);
  border-radius: 0px 50px 0px 0px;
}