<p-toast />

<p-card>
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</p-card>

<p-card styleClass="mt-2">
    <p-toolbar >
        <ng-template #start>
            <p-button label="Nuevo" icon="pi pi-plus" class="mr-2"   (onClick)="navegar('/pos/puntos/crear')" />
            <p-button class="ms-2" severity="danger" label="Eliminar" icon="pi pi-trash" outlined (onClick)="navegar('/pos/puntos/crear')" [disabled]="!selectedProducts || !selectedProducts.length" /> 
        </ng-template>
    
        <ng-template #end>
            <!-- <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" auto customUpload class="mr-2 inline-block" [chooseButtonProps]="{ severity: 'secondary' }" />
            <p-button class="ms-2" label="Export" icon="pi pi-upload" severity="secondary" (onClick)="exportCSV($event)" /> -->
        </ng-template>
    </p-toolbar>
    <p-table
        [value]="products"
        [paginator]="true"
        [rows]="size"
        [alwaysShowPaginator]="true"
        [lazy]="true"
        [pageLinks]="0"
        [showFirstLastIcon]="false"
        [totalRecords]="total"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[20]"
        
        (onLazyLoad)="getData($event)"
    >
        <ng-template #header>
           
            <tr>
                <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
                @for (item of columns; track $index) {
                    <th >{{item.header}}</th>
                }
                <th>Acción</th>
            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>
                    <p-tableCheckbox [value]="product"  />
                </td>
                @for (item of columns; track $index) {
                    @if (item.field == 'actived') {

                        <td [class]="item.align">
                            @if (product[item.field] ) {
                                <i class="pi pi-check-circle"></i>
                            } 
                            @else {
                                <i class="pi pi-circle"></i>
                            }
                           
                        </td>

                    }
                    @else {
                        <td >{{product[item.field]}}</td>
                    }
                  
                }
                <td>
                    <p-button icon="pi pi-eye" class="me-2" (onClick)="navegar('/pos/productos/detalle/'+ product.id)" severity="info" />
                    <p-button icon="pi pi-pencil" class="me-2" (onClick)="navegar('/pos/productos/editar/'+ product.id)" severity="secondary"/>
                    <p-button icon="pi pi-trash" class="mr-2" severity="danger"  (click)="deletePoint(product);"/>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-card>